@media (max-width: 500px) {

    body {
        width: 100%;
        background-color: hsl(330, 100%, 98%);
    }

    img {
        width: 100%;
        border-radius: 15px;
    }

    main {
        border-radius: 10px;
    }
}

@media (min-width: 1444px) {
    
    body {
    width: 1440px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(30, 54%, 90%);
}
    img {
    width: 100%;
 border-radius: 15px;  

    }

main {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 30px;
    border-radius: 20px;
}


}

.info {
    margin: 15px;
    display: flex;
    flex-direction: column;
}



.preparacao {
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    margin: 20px;
}

.preparacao h3 {
    color: hsl(332, 51%, 32%);
}

li::marker {
    color:hsl(14, 45%, 36%)
}
li {
    padding-left: 20px;
    margin: 15px;
    font-family: 'Outfit';
    font-weight: 400;
}

h2 {
    color: hsl(14, 45%, 36%);
    font-family: 'Outfit';
    font-weight: 600;
}

h1 {
    font-family: 'Young Serif';
    font-weight: 400;
}

p {
    font-size: 16px;
    font-family: 'Outfit';
    font-weight: 400;
    word-spacing: 3px;
}



span {
    flex: 1 1 50%;
    padding: 5px 10px;
    box-sizing: border-box;
}

.nutricao ul {
    list-style: none;
}

.nutricao li {
    display: flex;
    justify-content: space-between;

}

.one, .two, .three, .four {
    color: hsl(332, 51%, 32%);
}

hr {
    margin: 15px;
    color: hsl(30, 18%, 87%);
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}